$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618,
);

// Recommended starting point
$type-base-size: 1rem;

// Select by key of map, or use a custom value
// $type-size-ratio: type-ratio(goldenRatio);

// List in descending order to prevent extra sort function
$type-levels: 4, 3, 2, 1;

$level-size: $type-base-size;

@each $level in $type-levels {
  $level-size: $level-size * 1.15;

  h#{$level} {
    font-size: $level-size;
  }
}
